body{
    margin-left: 2vw;
    margin-top: 2vh;
    height: 5vh;
    width: 5vw;
}

h1{
    border-bottom: 1px solid rgba(79, 117, 20, 0.5);
}

h4{
     border-bottom: 1px solid rgba(79, 117, 20, 0.2);
}   

.list{
    display: flex;
    justify-content: space-between;
}

nav{
    width: 90vw;
}

.gridarea{
    margin: 2vw 1vh;
    width: 90vw;
    height: 200vh;
    display: grid;
    grid-gap: 3px 3px;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(3,1fr);

    grid-template-areas:
    "pic about about"
    "skills skills skills"
    "educatio experience experience"
    "educatio experience experience"
    "educatio experience experience"
    "portfolio portfolio portfolio"
} 

.pic {
    grid-area : pic;
    display: flex;
    margin-left: 3vw
}

.about {
    grid-area : about;
}

.skills {
    grid-area : skills;
    height: 15vh;
}

.experience {
    grid-area : experience;
}

.educatio {
    grid-area : educatio;
}

.portfolio {
    grid-area : portfolio;
}
