div{
	margin: 2v;
    border: 2px solid black;
    font-family: 'Aclonica';font-size: 22px;
}

.sectionflexbox{
    display: grid;
    height: 50vh;
    padding: 25px 25px 25px 10px;
    text-align: center;
    font-size: 20px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px 10px;
    grid-template-rows: repeat(3, 2fr) 1fr;
} 

.div1, .div3, .div5{
    background-color: red;

}

.div2, .div4, .div6{
    height: ;
    background-color: blue;
    
}

.div7{
    background-color: yellow;
    grid-column: span 2;
}