body{

	background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
	background-size: cover;
	cursor: pointer;
}

a{
	display: center;
	line-height: 5;
	font-style: italic;
	font-size: 20;
	color: blue;
}

h2{
	font-family: "Georga", "Times New Roman";
	color: lightcoral;
}

p{
	font-size: 20px;
	line-height: 1;
}

span{
	font-size: 2em;
}

img{
	float: center;
}